<div class="categories_new">
<%= form_for @category do |c| %>
<p> the title </p>
<%= c.text_field :title %>
<p> the description </p>
<%= c.text_field :description %>
<%= c.submit %>
</div>
<% end %>